output
test
__pycache__/
*.asm
*.o
*.dot
*.svg
*.ppm
porth
*.swp

euler/problem-01
euler/problem-02
euler/problem-03
euler/problem-04
euler/problem-05
examples/hello-world
examples/rule-110
examples/seq420
examples/name
examples/cat
tests/arithmetics
tests/bitwise-operations
tests/comments
tests/comparison
tests/control-flow
tests/dead-recursive-macro
tests/memory
tests/stack-manipulation
tests/system
tests/argv
tests/macro-with-no-end-error
tests/macros
