output
test
__pycache__/
*.asm
*.o
*.dot
*.svg
*.ppm
porth
*.swp

euler/problem-01
euler/problem-02
euler/problem-03
euler/problem-04
euler/problem-05
euler/problem-06
euler/problem-07
euler/problem-08
euler/problem-09
euler/problem-10
examples/hello-world
examples/rule-110
examples/fib
examples/rot13
examples/seq420
examples/name
examples/cat
examples/gol
examples/reverse-linked-list
examples/fizz-buzz
examples/checkers
examples/seq
examples/file-read-chop-line
examples/memory-map-file
examples/read-file-stats
examples/recursive-fib
examples/character-structure
examples/bubble-sort
examples/quine
tests/arithmetics
tests/bitwise-operations
tests/comments
tests/comparison
tests/dead-recursive-macro
tests/memory
tests/memory-forth-style
tests/stack-manipulation
tests/system
tests/argv
tests/macro-with-no-end-error
tests/macros
tests/else-less-if
tests/if-else
tests/here
tests/cstr
tests/open-close-file
tests/empty
tests/if-else-fail
tests/while-procs
tests/if-orelse
tests/intrinsics
tests/const
tests/2swap
tests/streq
tests/try-parse-int
tests/fputd
tests/memcpy
tests/offset-reset
tests/str-chop-by-delim
tests/intrinsic-redefinition-error
tests/proc-inside-proc
tests/procs
tests/max
tests/memset
tests/envp
